# Adobe Experience Manager (AEM) Instance.
# AEM quickstart runs directly from command line with embedded Jetty Servlet Container.

variants:
- variant: aem-author
- variant: aem-publish
  config:
    quickstart:
      port: 4503
      runmodes:
      - publish
      - nosamplecontent
      rootPath: /opt/adobe/aem-publish

templateDir: aem-cms

files:

# Sling Mapping for Publish Instance
- file: aem-cms-publish-slingmapping.json
  dir: packages
  template: aem-cms-publish-slingmapping.json.hbs
  variants:
  - aem-publish
  condition: ${sling.mapping.generatePackage}
  postProcessors:
  - aem-contentpackage
  postProcessorOptions:
    contentPackage:
      name: aem-cms-publish-slingmapping
      rootPath: /etc/map
      filters:
      - filter: /etc/map
        rules:
        - rule: exclude
          pattern: /etc/map
        - rule: include
          pattern: /etc/map/.*
        - rule: exclude
          pattern: /etc/map/http
        - rule: include
          pattern: /etc/map/http/.*
        - rule: exclude
          pattern: /etc/map/http/AppMeasurementBridge

# AEM Replication (Author)
- file: aem-cms-author-replicationagents.json
  dir: packages
  template: aem-cms-author-replicationagents.json.hbs
  variants:
  - aem-author
  condition: ${replication.author.generatePackage}
  postProcessors:
  - aem-contentpackage
  postProcessorOptions:
    contentPackage:
      name: aem-cms-author-replicationagents
      rootPath: /etc/replication
      filters:
      - filter: /etc/replication/agents.author
        # Uncomment this to keep the built-in special agents
        #rules:
        #- rule: exclude
        #  pattern: /etc/replication/agents\.author/(flush|publish_reverse|static|test_and_target|dynamic_media_replication|s7delivery|offloading_outbox)

# AEM Replication (Publish)
- file: aem-cms-publish-replicationagents.json
  dir: packages
  template: aem-cms-publish-replicationagents.json.hbs
  variants:
  - aem-publish
  condition: ${replication.publish.generatePackage}
  postProcessors:
  - aem-contentpackage
  postProcessorOptions:
    contentPackage:
      name: aem-cms-publish-replicationagents
      rootPath: /etc/replication
      filters:
      - filter: /etc/replication/agents.publish
        # Uncomment this to keep the built-in special agents
        #rules:
        #- rule: exclude
        #  pattern: /etc/replication/agents\.publish/(outbox|s7delivery)

# AEM Quickstart start script
- file: start
  dir: bin
  template: start.hbs
  fileHeader: none

# AEM Quickstart stop script
- file: stop
  dir: bin
  template: stop.hbs
  fileHeader: none

# AEM OSGi System Configuration
- file: aem-cms-system-config.provisioning
  dir: packages
  template: aem-cms-system-config.provisioning.hbs
  postProcessors:
  - aem-contentpackage-osgiconfig
  postProcessorOptions:
    contentPackage:
      name: aem-cms-system-config
      rootPath: /apps/aem-cms-system-config/config
      filters:
      - filter: /apps/aem-cms-system-config

# Crypto keys
- file: master
  dir: bundle-files/com.adobe.granite.crypto.file
  url: ${crypto.aesCryptoKeyUrl}
  condition: ${crypto.aesCryptoKeyUrl:}
  modelOptions:
    bundleFileProperties:
      bundle: com.adobe.granite.crypto.file
- file: hmac
  dir: bundle-files/com.adobe.granite.crypto.file
  url: ${crypto.hmacCryptoKeyUrl}
  condition: ${crypto.hmacCryptoKeyUrl:}
  modelOptions:
    bundleFileProperties:
      bundle: com.adobe.granite.crypto.file

# Defines configuration parameters and default values
config:
  contentPackage:
    group: conga-aem-cms
    version: ${version}

  jvm:
    path: /path/to/java
    heapspace:
      min: 2048m
      max: 2048m
    permgenspace:
      max: 256m
    #timezone: Europe/Berlin
    # Additional JVM argument
    #args: arg1
    # List of additional JVM arguments
    #argsList:
    #- arg1
    #- arg2

  quickstart:
    # Port for AEM instance
    port: 4502
    # Default runmodes
    runmodes:
    - author
    - nosamplecontent
    # Hide configuration wizards after first AEM startup
    hideConfigWizard: true
    # Enable Apache Sling DavEx Servlet to be able to use CRXDE Lite
    enableDavEx: false
    # AEM root path where quickstart jar is located
    rootPath: /opt/adobe/aem-author
    # Seconds to wait for instance to be stopped until process is killed
    stopTimeout: 1200

    # AEM/Sling admin user
    adminUser:
      # The admin username
      username: admin
      # The admin password to set for OAK and Apache Felix Webconsole (used together with passwordOld to change the password in CONGA-Ansible automation)
      password:
      # The old (initial) admin password for OAK and Apache Felix Webconsole
      passwordOld: admin
  
  sling:

    # Configure Sling Mapping for URL shortening of content paths
    mapping:
      # generate aem-cms-publish-slingmapping package by default
      generatePackage: true
      # Content root path which is stripped off
      #rootPath: /content/path

    caconfig:
      # Example for config override configuration - key is context path, list values contain the override strings
      # see also http://sling.apache.org/documentation/bundles/context-aware-configuration/context-aware-configuration-override.html
      overrides:
      #  "/content":
      #  - io.wcm.handler.url.SiteConfig/siteUrl="http://site1"
      #  - io.wcm.handler.url.SiteConfig/siteUrlAuthor="https://author.site1"

  replication:
    author:
      publishTargets:
      #- name: publish1
      #  url: http://localhost:4503
      #  transportUser: admin
      #  transportPassword: admin
      flushTarget:
        #name: dispatcherAuthor1
        #url: http://localhost:8000
      # generate replicationagents package by default
      generatePackage: true
    publish:
      flushTarget:
        #name: dispatcherPublish1
        #url: http://localhost:8000
      # generate replicationagents package by default
      generatePackage: true

  crypto:
    # URLs of crypto keys to be deployed to AEM (as bundle files, supported for AEM 6.3 and up)
    #aesCryptoKeyUrl: ansible-vault:classpath:/crypto/master
    #hmacCryptoKeyUrl: ansible-vault:classpath:/crypto/hmac

  httpd:
    # Server ports - needs to be defined here to be available for dispatcher flush targets
    serverPort: 80
    serverPortSsl: 443


# Configuration parameter that should be encrypted in model export YAML file
sensitiveConfigParameters:
- quickstart.adminUser.password
- quickstart.adminUser.passwordOld
- replication.author.publishTargets.transportPassword
